* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Oxanium',cursive;
}

body {
    background: linear-gradient(#6eb9f5, #ffffff);
    height: 100vh;
    background-repeat: no-repeat;
}

.content {
    text-align: center;
}


.search {
    text-align: center;
    margin-top: -14rem;
    margin-right: 2rem;
}

.busqueda{
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px,5vw,1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

#view {
    display: flex;
    position: absolute;
    margin-left: 50rem;
    margin-top: -28.6rem;
    justify-content: center;
    width: 15rem;
    height: 9rem;
}

#prevBtn {
    position: absolute;
    margin-left: 49rem;
    margin-top: 0rem;
    width: 5rem;
    height: 2rem;
    outline: none;
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    font-size: clamp(8px,5vw,1rem);
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
}

#nextBtn {
    position: absolute;
    margin-left: 61rem;
    margin-top: 0rem;
    width: 5rem;
    height: 2rem;
    outline: none;
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    font-size: clamp(8px,5vw,1rem);
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
}

#prevBtn:active,
#nextBtn:active{
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #222;
    font-size: clamp(8px,5vw,1rem);
    box-shadow: -2px 3px 0 #444, -4px 6px #000;
}

#nombre__pokemon {
    position: absolute;
    margin-top: -19rem;
    margin-left: 47%;
}

#ID__pokemon {
    position: absolute;
    margin-top: -9rem;
    margin-left: 44%;
    font-size: 20px;
}

#prevBtn {
    background-color: gray;
}

#nextBtn {
    background-color: gray;
}

#prevBtn:hover,
#nextBtn:hover {
    cursor: pointer;
}

#pokemonID {
    position: absolute;
    margin-top: -18.8rem;
    margin-left: 51rem;
    font-size: 25px;
    color: gray;
}

.boton {
    cursor: pointer;
    border-radius: 10px;
}

.pokedexIMG {
    max-height: 98vh;
}