* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    background: linear-gradient(#6eb9f5, #ffffff);
    height: 100vh;
    background-repeat: no-repeat;
}

.content {
    text-align: center;
}


.search {
    text-align: center;
    margin-top: -14rem;
    margin-right: 2rem;
}

#view {
    display: flex;
    position: absolute;
    margin-left: 33.7rem;
    margin-top: -28.6rem;
    justify-content: center;
    width: 15rem;
    height: 9rem;
}

#prevBtn {
    position: absolute;
    margin-left: 34rem;
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
}

#nextBtn {
    position: absolute;
    margin-left: 44rem;
    margin-top: 2rem;
    width: 5rem;
    height: 2rem;
}

#nombre__pokemon {
    position: absolute;
    margin-top: -18rem;
    margin-left: 40rem;
}

#ID__pokemon {
    position: absolute;
    margin-top: -7.7rem;
    margin-left: 37rem;
    font-size: 20px;
}

#prevBtn {
    background-color: gray;
}

#nextBtn {
    background-color: gray;
}

#prevBtn:hover,
#nextBtn:hover {
    cursor: pointer;
}

#pokemonID {
    position: absolute;
    margin-top: -18rem;
    margin-left: 35rem;
    font-size: 25px;
}

.boton {
    cursor: pointer;
    border-radius: 10px;
}

.pokedexIMG {
    max-height: 98vh;
}