body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.titulo {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #3A1078;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4E31AA;
}

input,
button {
    margin: 4px;
}

.container {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: white;
}

.RefrescarButon {
    border: none;
    background-color: #3795BD;
    border-radius: 20px;
    text-decoration: none;
}

.RefrescarButon:hover {
    transition: 0.5s;
    background-color: #00fc71;
    border: 1px solid blue;
    color: white;
    text-decoration: none;
}

.addProductos {
    border: none;
    background-color: #3795BD;
    border-radius: 20px;
}

.addProductos:hover {
    transition: 0.5s;
    border: 1px solid green;
    background-color: greenyellow;
    color: white;
}

.GenerateReport {
    border: none;
    background-color: #4E31AA;
    border-radius: 20px;
}

.GenerateReport:hover {
    transition: 0.5s;
    border: 1px solid rgb(255, 0, 119);
    background-color: rgb(183, 0, 255);
    color: white;
}

button[onclick*="deleteProduct"] {
    border: none;
    background-color: #FF204E;
    border-radius: 20px;
}

button[onclick*="deleteOrder"] {
    border: none;
    background-color: #FF204E;
    border-radius: 20px;
}

button[onclick*="deleteProduct"]:hover,
button[onclick*="deleteOrder"]:hover {
    transition: 0.5s;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    background-color: red;
}