*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #001aff;
    text-align: center;
    padding: 20px;
}

#view {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 10rem;
    border-radius: 8px;
    margin: 10px 0;
}